{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock title %}

{% block texto_header %}
<h4>
    Registrar nuevo usuario
</h4>
{% endblock texto_header %}

{% block despues_del_header %}

<p>
    <form action={% url 'register' %} method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Registrarse</button>
    </form>
</p>
<!-- <nav class="navbar-light bg-light static-top registro-usuario">
    <div class="container">
        <a class="navbar-brand" href={% url 'home' %}>Volver</a>
    </div>
</nav> -->
<h4>
    <a class="navbar-brand" href={% url 'home' %}>Volver</a>
</h4>


{% endblock despues_del_header %}